
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a target="_blank" 
             href="https://mitaoe.ac.in/" class="nav-link">
             Created by team : Key Hypervision Enabled Technological Intergration
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy; <a target="_blank" 
                  href="https://www.linkedin.com/company/mit-aoe/?originalSubdomain=in">K.H.E.T.I</a>
         - coded for <a target="_blank" href="https://www.amdocs.com/">Amdocs</a>.
      </div>
    </div>
  </footer>
