{% extends 'base.html' %}
{% block title %}Home | {{ block.super }}{% endblock %}

{% block content %}
{% load static %}

    <div class="container">
        <div class="column">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title"><b>Crop Recommendation</b></h5>
                <p class="card-text">Crop's Production are effected by soil quality and weather and hence determining best crop to grow as per present</p>
                <a href="#" class="btn btn-primary" disabled="true">Go</a>
              </div>
            </div>
        </div>


        <div class="column-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title"><b>Fertilizer Prediction</b></h5>
                <p class="card-text">Determining the best fertilizer to bes used as per crop and soil nutrient can help improve the quality and quality of crops</p>
                <a href="#" class="btn btn-primary" disabled="true">Go</a>
              </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="column">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title"><b>Weed Detection</b></h5>
                <p class="card-text">Weeds often compete with the crop for nutrient and hence crops are not able to get sufficient resources and the crop yield reduces</p>
                <a href="{% url 'weed' %}" class="btn btn-primary">Go</a>
              </div>
            </div>
        </div>


        <div class="column-2">
            <div class="card" style="width: 18rem;text-align: center">
              <div class="card-body">
                  <h5 class="card-title"><b>Plant Disease Detection</b></h5>
                <p class="card-text">Plant disease can hugely impact the production. Detecting the correct disease and its remedy can help</p>
                <a href="#" class="btn btn-primary" disabled="true">Go</a>
              </div>
            </div>
        </div>

        <div class="container">
            <div class="card" style="width: 18rem;text-align: center">
              <div class="card-body">
                  <h5 class="card-title"><b>Crop Water Level</b></h5>
                <p class="card-text">Identifying crop water stress level and detecting irrigation irregularities: As an additional service provided to the farmers according to the demands.</p>
                <a href="#" class="btn btn-primary" disabled="true">Go</a>
              </div>
            </div>
        </div>

    </div>

{% endblock %}