{% extends 'base.html' %}
{% block title %}Weed Detection | {{ block.super }}{% endblock %}

{% block content %}
{% load static %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU61w60E2LtLIXCF5ZvHoXpiEPh99K_d0" type="text/javascript"></script>
    <div class="container">
        <h1 class="title"><a class="head-link" style="" href="{% url 'weed' %}">Weed Detection</a></h1>

        <div class="main-upload">
            <form method="post" enctype="multipart/form-data" style="margin-bottom: 20px">
                {% csrf_token %}
                {{ form.management_form }}
                {% for i in form %}
                    <div class="cloned">
                        <label for="image">Upload </label>
                        {{ i }}
                    </div>
                {% endfor %}
                <div class="input-group-append">
                    <button class="btn btn-outline-primary add-form-row">+</button>
                </div>
                <button id="btn_form" type="submit" class="btn btn-outline-primary" style="margin-top: 15px">Upload</button>
            </form>

        </div>

        {% if present %}
            <div class="loadContent">
                {% if present == 'a' %}
                    <div class="alert alert-danger" role="alert">
                        Weed is present.
                    </div>


                    <div id="map">

                    </div>
                    <script>

                $.ajax({
                    url: 'weedGeo',
                    data: {'name': '{{ loc }}' },
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        let map;
                        data =  JSON.parse(data.data['polygons'])['coordinates'];

                        let mapOptions = {
                            zoom: 18,
                            center: {lat: data[0][0][0][1], lng: data[0][0][0][0]},
                        }

                        map = new google.maps.Map(document.getElementById('map'), mapOptions);

                        for(var j=0; j<data.length; j++) {
                            var arr = [];
                            for(var i=0; i<data[j][0].length; i++) {
                                arr.push(
                                    {lat: data[j][0][i][1], lng: data[j][0][i][0]}
                                );
                            }

                            let polygon = new google.maps.Polygon({
                                paths: arr,
                                strokeColor: '#15317E',
                                strokeOpacity: 0.8,
                                strokeWeight: 2,
                                fillColor: '#002366',
                                editable: true,
                                fillOpacity: 0.35,
                                geodesic: true,
                            });

                            polygon.setMap(map);
                        }

                    }
                });
            </script>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        Weed is not present.
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>

    <script>
        function cloneMore(selector) {
            var newElement = $(selector).clone(true);
            var total = $('#id_form-TOTAL_FORMS').val();

            newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                var forValue = $(this).attr('for');
                if (forValue) {
                  forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
                  $(this).attr({'for': forValue});
                }
            });
            total++;
            $('#id_form-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            return false;
        }

        $(document).on('click', '.add-form-row', function(e){
            e.preventDefault();
            cloneMore('.cloned:last');
            return false;
        });
    </script>
{% endblock %}